<div class="d-flex justify-content-center py-4">
  <img class="img-fluid" src="assets/img/banniere_article.jpg" alt="" />
</div>

<app-back-home></app-back-home>

<!--Article Detaillé------------>
<section
  id="article"
  class="
    d-flex
    flex-column
    justify-content-center
    mt-5
    flex-md-row
    align-items-md-end
  "
>
  <!--Photo-->
  <div class="mb-5 col-6 mx-auto col-md-4">
    <img src="assets/{{ articleDetail.picturePath }}" alt="" />
    <p class="mt-3">Grip jessup inclus*</p>
  </div>

  <!--Description-->
  <div id="description" class="col-md-6">
    <div class="d-flex justify-content-center">
      <h2>
        {{ articleDetail?.model["brand"]["name"] }} -
        {{ articleDetail?.model["name"] }}
      </h2>
      <i class="far fa-heart text-5xl ml-5" role="button"></i>
    </div>

    <div>
      <ul class="mt-3">
        <li>
          <p>{{ articleDetail.description }}</p>
        </li>
        <li>
          <svg
            width="350"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-15 0 1150 505"
          >
            <!--contour planche-->
            <path
              d="M883.1 126.7c63.1 0 151.1 27.2 151.1 113.3s-88 115.2-151.1 115.2H327c-63.1 0-139.6-35.4-139.6-115.2S263.9 126.7 327 126.7h556.1m0-8H327c-35.9 0-71.6 10.3-98 28.2-32.5 22.1-49.6 54.3-49.6 93.2 0 38.9 17.1 71.4 49.6 94 26.6 18.5 62.3 29.1 98 29.1h556.2c37.8 0 75.5-9.6 103.3-26.4 36.5-22 55.8-55.4 55.8-96.7 0-41.2-19.3-74.4-55.8-95.9-27.6-16.2-65.3-25.5-103.4-25.5z"
            ></path>
            <!--visserie-->
            <path
              d="M370.7 223.5c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8zm0 43.8c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8zm55.9 0c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8zm0-43.8c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8zm379.1 0c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8 0 2.1-1.7 3.8-3.8 3.8zm0 43.8c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8 0 2.1-1.7 3.8-3.8 3.8zm56 0c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8zm0-43.8c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8 2.1 0 3.8 1.7 3.8 3.8-.1 2.1-1.8 3.8-3.8 3.8z"
            ></path>
            <!--Legend (emplacement : largeur , longueur)-->
            <path
              fill="none"
              stroke="#000"
              stroke-miterlimit="10"
              stroke-width="3"
              d="M187.4 89.7v-28h857.5v28M162.6 355.2h-28V126.7h28m208.1 0v28H426.6v-28"
            ></path>
            <!--Longueur-->
            <text x="28.69">
              <tspan x="535" y="109">
                <tspan>Longueur</tspan>
              </tspan>
            </text>
            <text x="28.69">
              <tspan x="575" y="45">
                <tspan>{{ articleDetail?.length }}</tspan>
              </tspan>
            </text>
            <!--Largeur-->
            <text x="28.69">
              <tspan x="-15" y="300">
                <tspan>Largeur</tspan>
              </tspan>
            </text>
            <text x="28.69">
              <tspan x="25" y="240">
                <tspan>{{ articleDetail.width }}"</tspan>
              </tspan>
            </text>
          </svg>
        </li>
        <li>
          <p>
            Concave : <span>{{ articleDetail.concave }}</span>
          </p>
        </li>
        <li>
          <p>
            Shape : <span>{{ articleDetail.shape }}</span>
          </p>
        </li>
      </ul>
      <hr class="my-3" />
      <ul>
        <li>
          <p>
            poster le :
            <span>{{ articleDetail.released_at | date: "dd/MM/YYYY" }}</span>
          </p>
          <!--date-->
        </li>
        <li>
          <p>
            No. de produit : <span>{{ articleDetail.id }}</span>
          </p>
          <!--id-->
        </li>
        <li>
          <p id="prix">{{ articleDetail.price / 100 }} <sup>EUR</sup></p>
          <!--price-->
        </li>
      </ul>
      <button (click)="open(content)" class="btn rounded">Je Reserve</button>
    </div>
  </div>
</section>

<hr class="my-5" />

<!--Modal-->
<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h3>
      {{ articleDetail?.model["brand"]["name"] }} -
      {{ articleDetail?.model["name"] }}
    </h3>
  </div>
  <div class="modal-body">
    <h3 class="mb-4">Pour reserver cet article:</h3>
    <ul>
      <li>
        <h4>Par Téléphone: <sup>8h/12-14h/17h</sup></h4>
      </li>
      <li class="mb-3">0474587456</li>

      <li><h4>Par Mail:</h4></li>
      <li>Lodevie@gmail.com</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
