footer {
  position: relative;
  background-image: url('../../../assets/img/Vector\ 1.svg');
  background-position: center;
  background-size: cover;
  padding: 150px 0px;
  font-size: 20px;

}

footer ul {
  position: absolute;
  left: 10%;
  top: 70%;
}
