<section class="row">
  <div class="col-12 col-md-10 mx-auto">
    <h1 class="my-5 text-center">Edition/Suppression Du Modele</h1>
    <div *ngIf="!currentModel.id" class="alert alert-primary" role="alert">
      Aucun Modele ne correspond a cet ID
    </div>
    <form *ngIf="currentModel.id">
      <div class="form-group">
        <label class="mb-3" for="Model">Modele</label>
        <input
          type="text"
          class="form-control"
          id="Model"
          [(ngModel)]="currentModel.name"
          name="Model"
        />
      </div>
      <!--Non fonctionnel-->
      <div class="form-group">
        <label for="brand" class="mr-3">Marque</label>
        <select
          [(ngModel)]="currentModel.brand"
          id="brand"
          [ngModelOptions]="{ standalone: true }"
        >
          <option
            [value]="b.name"
            *ngFor="let b of brands"
            class="form-control"
            name="brand"
          >
            {{ b.name }} id : {{ b.id }}
          </option>
        </select>
      </div>
    </form>
    <div>
      <button class="btn btn-danger" (click)="deleteModel()">Supprimer</button>
      <button
        type="submit"
        class="btn btn-success mx-4"
        (click)="updateModel()"
      >
        Editer
      </button>
      <button routerLink="/models" class="btn btn-info">Retour</button>
    </div>
  </div>
</section>
