<section class="row">
  <div class="col-10 col-md-8 mx-auto">
    <h2 class="my-5 text-center">Details Utilisateur</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Role</th>
          <th>Pseudo</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Telephone</th>
          <th>SIRET</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userDetail?.id }}</td>
          <td>{{ userDetail?.roles }}</td>
          <td>{{ userDetail?.username }}</td>
          <td>{{ userDetail?.lastName }}</td>
          <td>{{ userDetail?.firstName }}</td>
          <td>{{ userDetail?.phone }}</td>
          <td>{{ userDetail?.siretNumber }}</td>
          <td>
            <ul class="d-flex">
              <li>
                <button class="btn btn-success mr-3">Editer</button>
              </li>
              <li>
                <button (click)="deleteModel()" class="btn btn-danger">
                  Supprimer
                </button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/users" class="btn btn-info">Retour</button>
  </div>
</section>
