<div class="row">
  <div class="col-12 col-md-10 mx-auto">
    <h1 class="my-5">Gestion des marques</h1>
    <table class="table table table-striped my-5 text-center">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-brand *ngFor="let b of brandList; let i = index" [brand]="b">
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <hr />
    <p>
      <button
        type="button"
        class="btn btn-info"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Ajouter une marque
      </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <app-add-brand></app-add-brand>
        </div>
      </div>
    </div>

    <hr />
    <button routerLink="/admin" class="btn btn-info">Retour</button>
  </div>
</div>
