/*question/reponse*/
#questions {
  padding: 60px 0px;
}

.tab-content {
  display: none;
  font-size: 16px;
  letter-spacing: 2px;
}

.tab-content.active {
  display: block;
}

.tabs a {
  font-size: 20px;
  font-weight: 400;
  color: var(--bleu);
}

.tabs .active a::before {
  content: "* ";
}

.tabs {
  border-right: 0.5px solid var(--gris);
}

.tabs li {
  margin: 15px 0px;
}

.fade {
  opacity: 0;
  transition: opacity 1s;
}

.fade.in {
  opacity: 1;
}
