<section class="row">
  <div class="col-10 col-md-8 mx-auto">
    <h1 class="my-5 text-center">
      <strong>Annonce numero:</strong> {{ advertDetail?.id }}
    </h1>
    <div>
      <ul>
        <li>
          <p>
            <strong>Créer le</strong>
            {{ advertDetail?.released_at | date: "dd/MM/YYYY" }}
          </p>
        </li>
        <li>
          <p>
            <strong>Posté par</strong> {{ advertDetail?.skateshop["name"] }}
          </p>
        </li>
        <li>
          <p><strong>Modele</strong> {{ advertDetail?.model["name"] }}</p>
        </li>
        <li>
          <p>
            <strong>Marque</strong> {{ advertDetail?.model["brand"]["name"] }}
          </p>
        </li>
        <li>
          <p><strong>Prix</strong> {{ advertDetail?.price / 100 }}</p>
        </li>
        <li>
          <div class="text-center my-5">
            <img src="assets/{{ advertDetail?.picturePath }}" alt="" />
          </div>
        </li>
        <li>
          <strong>Description</strong>
          <p>{{ advertDetail?.description }}</p>
        </li>
        <li>
          <p><strong>Length</strong> {{ advertDetail?.length }}</p>
        </li>
        <li>
          <p><strong>Width</strong> {{ advertDetail?.width }}</p>
        </li>
        <li>
          <p><strong>Shape</strong> {{ advertDetail?.shape }}</p>
        </li>
        <li>
          <p><strong>Concave</strong> {{ advertDetail?.concave }}</p>
        </li>
        <li class="mt-4">
          <button (click)="deleteAdvert()" class="btn btn-danger">
            Supprimer
          </button>
        </li>
      </ul>
    </div>
    <button routerLink="/adverts" class="btn btn-primary">Retour</button>
  </div>
</section>
