<section class="row">
  <div class="col-10 col-md-8 mx-auto">
    <h1 class="my-5">Ajouter une annonces</h1>
    <!--Gestion des erreurs-->
    <ul *ngIf="submitted">
      <li *ngIf="advertForm.controls['description']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Description est vide ou incorrect
        </div>
      </li>
      <li *ngIf="advertForm.controls['width']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Largeur est vide ou incorrect
        </div>
      </li>
      <li *ngIf="advertForm.controls['length']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Longueur est vide ou incorrect
        </div>
      </li>
      <li *ngIf="advertForm.controls['shape']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Shape est vide ou incorrect
        </div>
      </li>
      <li *ngIf="advertForm.controls['concave']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Concave est vide ou incorrect
        </div>
      </li>
      <li *ngIf="advertForm.controls['picturePath']?.errors?.required">
        <div class="alert alert-danger" role="alert">
          Le champs Photo est vide ou incorrect
        </div>
      </li>
    </ul>
    <form [formGroup]="advertForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="formDescription">Description</label>
        <textarea
          class="form-control"
          id="formDescription"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
      <!--width-->
      <div class="form-group">
        <label for="widthId">Largeurs</label>
        <select formControlName="width" id="widthId">
          <option [value]="w" *ngFor="let w of widths" class="form-control">
            {{ w }}
          </option>
        </select>
      </div>
      <!--length-->
      <div class="form-group">
        <label for="formLength">Longueur</label>
        <input
          type="text"
          class="form-control"
          formControlName="length"
          id="formLength"
        />
      </div>
      <!--shape-->
      <div class="form-group">
        <label for="shapeId">Shape</label>
        <select formControlName="shape" id="shapeId">
          <option [value]="s" *ngFor="let s of shapes" class="form-control">
            {{ s }}
          </option>
        </select>
      </div>
      <!--concave-->
      <div class="form-group">
        <label for="concaveId">Concave</label>
        <select formControlName="concave" id="concaveId">
          <option [value]="c" *ngFor="let c of concaves" class="form-control">
            {{ c }}
          </option>
        </select>
      </div>
      <!--photos-->
      <div class="form-group">
        <label for="formPicture">Photo</label>
        <input
          type="text"
          class="form-control"
          formControlName="picturePath"
          id="formPicture"
        />
      </div>
      <!--Price-->
      <div class="form-group">
        <label for="formLength">Prix</label>
        <input
          type="number"
          step=".01"
          class="form-control"
          formControlName="price"
          id="formLength"
        />
      </div>
      <!--modele-->
      <div formGroupName="model" class="form-group">
        <label for="modelId">Modele</label>
        <select formControlName="id" id="modelId">
          <option [value]="m.id" *ngFor="let m of models" class="form-control">
            {{ m.name }} ({{ m.brand["name"] }})
          </option>
        </select>
      </div>
      <!--skateshop-->
      <div formGroupName="skateshop" class="form-group">
        <label for="skateshoplId">Skateshop</label>
        <select formControlName="id" id="skateshoplId">
          <option
            [value]="s.id"
            *ngFor="let s of skateshops"
            class="form-control"
          >
            {{ s.name }} (Mr.{{ s.professional["lastName"] }})
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-success my-2">Ajouter</button>
    </form>
    <hr />
    <button routerLink="/adverts" class="btn btn-info">Retour</button>
  </div>
</section>
