<section class="text-center mx-auto">
  <h1 class="my-5">Espace Administration</h1>

  <ul class="row">
    <li class="col-6 col-md-6">
      <div class="hvr-shutter-in-vertical">
        <a routerLink="/brands">Marques</a>
      </div>
    </li>
    <li class="col-6 col-md-6">
      <div class="hvr-shutter-in-vertical">
        <a routerLink="/models">Modeles</a>
      </div>
    </li>
    <li class="col-12 col-md-6">
      <div class="hvr-shutter-in-vertical">
        <a routerLink="/adverts">Annonces</a>
      </div>
    </li>
    <li class="col-12 col-md-6">
      <div class="hvr-shutter-in-vertical">
        <a routerLink="/skateshops">Skateshop</a>
      </div>
    </li>
    <li class="col-12 col-md-6">
      <div class="hvr-shutter-in-vertical">
        <a routerLink="/users">Professionnels</a>
      </div>
    </li>
  </ul>
</section>
<app-back-home></app-back-home>
