<section class="text-center mx-auto">
  <h1>Espace Administration</h1>

  <ul class="row">
    <li class="col-6 col-md4">
      <div><a routerLink="/brands">Marques</a></div>
    </li>
    <li class="col-6 col-md4">
      <div><a routerLink="/models">Modeles</a></div>
    </li>
    <li class="col-6 col-md4">
      <div><a>Annonces</a></div>
    </li>
    <li class="col-6 col-md4">
      <div><a>Skateshop</a></div>
    </li>
    <li class="col-6 col-md4">
      <div><a>Professionnels</a></div>
    </li>
  </ul>
</section>
