/*-_-_-_-_-_-_-_-_-_-_FILTRES-_-_-_-_-_-_-_-_-_-_*/
select {
  width: 90%;
  padding: 5px 10px;
  margin: 10px 0px;
  border: none;
  background: var(--gris);
  position: relative;
  /*cache la fleche par defaut*/
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: 90%;
  font-size: 16px;
  font-weight: 400;
}

form button {
  background: var(--gris);
  width: 90%;
  padding: 5px 10px;
  margin: 10px 0px;
  border: none;
  text-align: left;
  background-position-x: 90%;
  font-size: 16px;
  font-weight: 400;
}

.deleteFilter{
  font-size: 12px;
  cursor: pointer;
}
.deleteFilter i{
  color: red;
}

#card:hover #card-brand {
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
}


#card:hover #card-img {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
