table {
  font-size: 16px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.22);
}

h1 {
  text-align: center;
}

button {
  font-size: 16px;
}
