<section class="row">
  <div class="col-12 col-md-10 mx-auto">
    <h1 class="my-5 text-center">Gestion des Modeles</h1>
    <table class="table table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Modeles</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-model *ngFor="let m of modelList; let i = index" [model]="m">
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <hr />
    <p>
      <button
        type="button"
        class="btn btn-info"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Ajouter un modele
      </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <app-add-model></app-add-model>
        </div>
      </div>
    </div>
    <hr />
    <button routerLink="/admin" class="btn btn-info">Retour</button>
  </div>
</section>
