<p>model-list works!</p>
<div class="row">
  <div class="col-md-8 mx-auto text-center">
    <h2 class="my-4">Gestion des Modeles</h2>
    <table class="table table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Modeles</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-model *ngFor="let m of modelList; let i = index" [model]="m">
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <!--<app-add-brand></app-add-brand>-->
  </div>
</div>
