<section class="row">
  <div class="col-12 mx-auto text-center">
    <h1 class="my-5">Gestion des Annonces</h1>
    <table class="table table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Ref</th>
          <th>Crée le</th>
          <th>Boutique</th>
          <th>Modele</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-advert *ngFor="let a of advertList; let i = index" [advert]="a">
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" routerLink="/adverts/add">Ajouter</button>
    <hr />
    <button routerLink="/admin" class="btn btn-info">Retour</button>
  </div>
</section>
