<section class="row">
  <div class="col-10 col-md-8 mx-auto">
    <h2 class="my-4 text-center">Gestion des marques</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ brandDetails?.id }}</td>
          <td>{{ brandDetails?.name }}</td>
          <td>
            <ul class="d-flex">
              <li>
                <button class="btn btn-success mr-3">Editer</button>
              </li>
              <li>
                <button (click)="deleteBrand()" class="btn btn-danger">
                  Supprimer
                </button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/brands" class="btn btn-primary">Retour</button>
  </div>
</section>
