<section class="row">
  <div class="col-10 col-md-8 mx-auto">
    <h2 class="my-5 text-center">Gestion des marques</h2>
    <div *ngIf="!currentBrand.id" class="alert alert-primary" role="alert">
      Aucun marque ne correspond a cet ID
    </div>
    <form *ngIf="currentBrand.id">
      <div class="form-group">
        <label class="mb-3" for="brand">Marque</label>
        <input
          type="text"
          class="form-control"
          id="brand"
          [(ngModel)]="currentBrand.name"
          name="brand"
        />
      </div>
    </form>
    <div>
      <button class="btn btn-danger" (click)="deleteBrand()">Delete</button>
      <button
        type="submit"
        class="btn btn-success mx-4"
        (click)="updateBrand()"
      >
        Update
      </button>
      <button routerLink="/brands" class="btn btn-secondary">Retour</button>
    </div>
  </div>
</section>
