<section class="row">
  <div class="col-md-8 mx-auto text-center">
    <h1 class="my-5">Gestion des Utilisateurs</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Role</th>
          <th>Pseudo</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-user *ngFor="let u of userList; let i = index" [user]="u">
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" routerLink="/users/add">Ajouter</button>
    <hr />
    <button routerLink="/admin" class="btn btn-info">Retour</button>
  </div>
</section>
