/*-_-_-_-_-_-_-_-_-_-_POLICES-_-_-_-_-_-_-_-_-_-_*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*-_-_-_-_-_-_-_-_-_-_GLOBAL-_-_-_-_-_-_-_-_-_-_*/
* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all .2s ease 0s;
  /* Visualisation des éléments */
  /*border: 1px dotted rgba(0,0,0,0.3);*/
}

*:hover {
  transition: all .2s ease 0s;
}

html {
  font-size: 62.5%
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--bleu);
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

#logo,
select,
#annonces,
#description button,
footer,
#article span,
#article #prix,
#article text,
#article h2 {
  font-family: "Bebas Neue", cursive;
}

/*-_-_-_-_-_-_-_-_-_-_VARIABLES-_-_-_-_-_-_-_-_-_-_*/
:root {
  --rouge: #8c0b0a;
  --bleu: #1b272c;
  --blanc: #ebebeb;
  --gris: #f1f5f7;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
