<!--Banniere-->

<section id="info-perso">
  <div class="d-flex justify-content-center my-5">
    <img class="img-fluid" src="../../../assets/img/account.jpg" alt="" />
  </div>
  <app-back-home></app-back-home>
  <div class="row my-5">
    <div class="col-10 col-md-10 mx-auto text-center">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Mes Infos</a>
          <ng-template ngbNavContent>
            <ul>
              <li>
                <h3>Pseudo</h3>
                {{ currentUser.username }}
              </li>
              <li>
                <h3>Email</h3>
                {{ currentUser.email }}
              </li>
              <li>
                <h3>Nom</h3>
                {{ currentUser.lastName }}
              </li>
              <li>
                <h3>Prenom</h3>
                {{ currentUser.firstName }}
              </li>
              <li>
                <h3>Téléphone</h3>
                {{ currentUser.phone }}
              </li>
              <li>
                <h3>Numero de siret</h3>
                {{ currentUser.siretNumber }}
              </li>
              <li><button class="btn btn-success">Editer</button></li>
              <li *ngIf="isAdmin()" class="mt-3">
                <button routerLink="/admin" class="btn btn-primary">
                  Interface Admin
                </button>
              </li>
              <li>
                <button class="btn btn-danger" (click)="logout()">
                  Deconection
                </button>
              </li>
            </ul>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Mes Annonces</a>
          <ng-template ngbNavContent>
            <table class="table table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Crée le</th>
                  <th>Posté par</th>
                  <th>Modeles</th>
                  <th>Prix</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  app-advert
                  *ngFor="let a of advertList; let i = index"
                  [advert]="a"
                >
                  {{
                    i
                  }}
                </tr>
              </tbody>
            </table>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Mes Boutiques</a>
          <ng-template ngbNavContent>
            <div class="d-flex row">
              <ul
                *ngFor="let s of skateshopList; let i = index"
                class="col-12 col-md-6"
              >
                <li>
                  <h3 class="shopName">{{ s.name }}</h3>
                </li>
                <li>
                  <strong>Contact</strong>
                  <ul>
                    <li>Tel: {{ s.phone }}</li>
                    <li>Email: {{ s.professional["email"] }}</li>
                    <li><strong>Adresse</strong></li>
                    <li>Rue: {{ s.street }}</li>
                    <li>Code postal: {{ s.zipCode }}</li>
                    <li>Ville: {{ s.city }}</li>
                  </ul>
                </li>
                <li>
                  <ul class="d-flex justify-content-center mt-2">
                    <li>
                      <button class="btn btn-success mr-3">Editer</button>
                    </li>
                    <li>
                      <button class="btn btn-danger">Supprimer</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
