<section class="row">
  <div class="col-12 col-md-10 mx-auto text-center">
    <h1 class="my-5">Gestion des Boutiques</h1>
    <table class="table table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Nom</th>
          <th>Dirigeant</th>
          <th>Telephone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-skateshop
          *ngFor="let s of skateshopList; let i = index"
          [skateshop]="s"
        >
          {{
            i
          }}
        </tr>
      </tbody>
    </table>
    <button routerLink="/skateshops/add" class="btn btn-success">
      ajouter
    </button>
    <hr />
    <button routerLink="/admin" class="btn btn-info">Retour</button>
  </div>
</section>
